[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
pydantic = "*"
loguru = "*"
aioredis = "*"
sqlalchemy = "*"
uvicorn = "*"
pyjwt = "*"
pytest = "*"
py-bcrypt = "*"
emails = "*"

[dev-packages]

[requires]
python_version = "3.9"
