[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
pydantic = "*"
loguru = "*"
sqlalchemy = "*"
uvicorn = "*"
py-bcrypt = "*"
emails = "*"
alembic = "*"
email-validator = "*"
python-dotenv = "*"
python-multipart = "*"
typer = "*"
python-jose = "*"
jinja2 = "*"
redis = "*"

[dev-packages]
pytest = "*"
black = "*"
faker = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
