[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
pydantic = "*"
loguru = "*"
aioredis = "*"
sqlalchemy = "*"
uvicorn = "*"
py-bcrypt = "*"
emails = "*"
alembic = "*"
email-validator = "*"
python-dotenv = "*"
python-multipart = "*"
typer = "*"
python-jose = "*"
jinja2 = "*"
redis = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.9"
