alembic==1.6.3
cachetools==4.2.2
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
cssselect==1.1.0
cssutils==2.3.0
dnspython==2.1.0
ecdsa==0.14.1
email-validator==1.1.2
emails==0.6
fastapi==0.65.1
greenlet==1.1.0
h11==0.12.0
idna==2.10
loguru==0.5.3
lunar-python==1.0.29
lxml==4.6.3
Mako==1.1.4
MarkupSafe==2.0.1
premailer==3.8.0
py-bcrypt==0.4
pyasn1==0.4.8
pydantic==1.8.2
python-dateutil==2.8.1
python-dotenv==0.17.1
python-editor==1.0.4
python-jose==3.2.0
python-multipart==0.0.5
redis==3.5.3
requests==2.25.1
rsa==4.7.2
six==1.16.0
SQLAlchemy==1.4.15
starlette==0.14.2
typer==0.3.2
typing-extensions==3.10.0.0
urllib3==1.26.4
uvicorn==0.13.4
